.mainHeader {
  background-color:#09058A;
  margin-bottom: 15px;
  font-family: 'Signika Negative', sans-serif;
}


.subHeader {
  background-color:#FFFFFF;
  margin-bottom: 15px;
  font-family: 'Signika Negative', sans-serif;
}

h1 {
  padding: 0px 0 0px 0;
  font-weight: 700;
  color: #FFFFFF;
  font-family: 'Signika Negative', sans-serif;
}

h2 {
  padding: 10px 10px 10px 10px;
  color: #000000;
  font-family: 'Signika Negative', sans-serif;
}

h3 {
  color: #000000;
	font-weight: 700;
  font-family: 'Signika Negative', sans-serif;
}

p {
  font-family: 'Signika Negative', sans-serif;
}

ul {
  font-family: 'Signika Negative', sans-serif;
}
  

.sidebar {
	background-color:#DF1808;
  padding: 10px 10px 0px 10px;
  font-family: 'Signika Negative', sans-serif;
}


.calloutStyle {
background-color: #09058A;
color: #fff;
font-family: 'Signika Negative', sans-serif;
}

.disclaimer {
  background-color: white;
  color: #fff;
  text-align: center;
  padding: 10px 0 0 0;
  font-family: 'Signika Negative', sans-serif;
}

